:root {
    --main-theme-color: #865439;
    --main-btn-color: #6f3134;
    --main-langback: #c9c0ac;
    --main-loginsignup: #865439;
    --main-tabback: #efe8db;
    --main-grid-border: #e3e3e1;
        --main-inputback-color: #f4f4f4;
    --main-grid-font: #9e9a9a;
	
}